{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page listings{% endblock %}

{% block title %}
    {{ title }} | {% trans "Products" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:listings-product-list' %}">{% trans "Products" %}</a>
            </li>
            {% if parent %}
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:listings-product' parent.id %}">{{ parent.title }}</a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ title }}
            </li>
        </ol>
     </nav>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" method="post" class="form-stacked wysiwyg fixed-actions" enctype="multipart/form-data" data-behaviour="tab-nav-errors" autocomplete="off">
        {% csrf_token %}

        {% if parent %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        {% url 'dashboard:listings-product' pk=parent.id as parent_url %}
                        {% blocktrans with title=parent.title %}
                            You are currently editing a product variant of
                            <a href="{{ parent_url }}">{{ title }}</a>.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">

            {% block tab_nav %}
                <div class="col-md-3">
                    <div class="tab-nav sticky-top">
                        <div class="table-header">
                            <h3>{% trans "Sections" %}</h3>
                        </div>
                        <ul class="nav flex-column bs-docs-sidenav" id="product_update_tabs">
                            {% comment %}
                                The navigation below is filtered heavily on the product structure.
                                This intentionally is the only place where filtering is done, as
                                deployments are likely to want to override certain aspects of what
                                data is stored on products of a certain structure. This means that
                                only one template block (instead of all affected) has to be altered.
                            {% endcomment %}
                            {% block tabs %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="#product_details" data-toggle="tab">
                                        {% trans 'Product details' %}
                                    </a>
                                </li>
                               {% if product_class.has_attributes %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#product_attributes" data-toggle="tab">
                                            {% trans 'Attributes' %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#seo" data-toggle="tab">
                                        {% trans 'Search engine optimisation' %}
                                    </a>
                                </li>
                            {% endblock tabs %}
                        </ul>
                    </div>
                </div>
            {% endblock tab_nav %}

            <div class="col-md-9">
                <div class="tab-content">
                    {% block tab_content %}
                        {% block product_details %}
                            <div class="tab-pane active" id="product_details">
                                <div class="table-header">
                                    <h3>{% trans "Product details" %}</h3>
                                </div>
                                <div class="card card-body product-details">
                                    {% block product_details_content %}
                                        <span class="error-block">{{ form.non_field_errors }}</span>
                                        {% for field in form.hidden_fields %}
                                            {{ field }}
                                        {% endfor %}

                                        {% for field in form.primary_form_fields %}
                                            {% if 'attr' not in field.id_for_label %}
                                                {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endblock product_details_content %}
                                </div>
                            </div>
                        {% endblock product_details %}

                        {% block product_attributes %}
                            <div class="tab-pane" id="product_attributes">
                                {% block product_attributes_content %}
                                    <table class="table table-striped table-bordered">
                                        <caption>
                                            {% trans "Attributes" %}
                                            <span class="badge badge-success">
                                                {% trans "Product Type:" %} {{ product_class }}
                                            </span>
                                        </caption>
                                        {% for field in form %}
                                            {% if 'attr' in field.id_for_label %}
                                                <tr>
                                                    <td>
                                                        {% include "oscar/dashboard/partials/form_field.html" %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                {% endblock product_attributes_content %}
                            </div>
                        {% endblock product_attributes %}
						{% block child_products %}
                            {% with children=product.children.all %}
                                <div class="tab-pane" id="child_products">
                                    {% block child_products_content %}
                                        <table class='table table-striped table-bordered'>
                                            <caption>
                                                {% trans "Variants" %}
                                                <button class="btn btn-primary float-right" {% if not product.can_be_parent %}disabled{% endif %} name="action" type="submit" value="create-child" data-loading-text="{% trans 'Adding...' %}">
                                                    <i class="fas fa-plus-circle"></i> {% trans "Add variant" %}
                                                </button>
                                            </caption>
                                            {% if children %}
                                                <tr>
                                                    <th>{% trans "Title" %}</th>
                                                    <th>{% trans "Attributes" %}</th>
                                                    <th>{% trans "Is public?" %}</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                                {% for child in children %}
                                                    <tr>
                                                        <td>{{ child.get_title }}</td>
                                                        <td>{{ child.attribute_summary }}</td>
                                                        <td>{% if child.is_public %}<span class="true">✔</span>{% else %}<span class="false">✘</span>{% endif %}</td>
                                                        <td>
                                                            <a href="{% url 'dashboard:listings-product' pk=child.id %}" class="btn btn-primary">
                                                                {% trans "Edit" %}
                                                            </a>
                                                            <a href="{% url 'dashboard:listings-product-delete' pk=child.id %}" class="btn btn-danger">
                                                                {% trans "Delete" %}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">
                                                        {% if product.can_be_parent %}
                                                            {% trans 'This product does not have any variants.' %}
                                                        {% else %}
                                                            {% trans "One can't add variants to this product at this point." %}
                                                            {% if product.pk is None %}
                                                                {% trans "Please save the product before trying to add variants." %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    {% endblock child_products_content %}
                                </div>
                            {% endwith %}
                        {% endblock child_products %}

                        {% block seo %}
                            <div class="tab-pane" id="seo">
                                <div class="table-header">
                                    <h3>{% trans "Search engine optimisation" %}</h3>
                                </div>
                                <div class="card card-body">
                                    {% block seo_content %}
                                        {% for field in form.seo_form_fields %}
                                            {% if 'attr' not in field.id_for_label %}
                                                {% include 'oscar/dashboard/partials/form_field.html' with field=field %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endblock seo_content %}
                                </div>
                            </div>
                        {% endblock seo %}
                    {% endblock tab_content %}
                </div>
            </div>
        </div>

        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-group">
                    <div class="float-right">
                        <a href="{% url 'dashboard:listings-product-list' %}">
                            {% trans "Cancel" %}
                        </a>
                        {% trans "or" %}
                        {% if parent %}
                            <button class="btn btn-secondary" name="action" type="submit" value="create-another-child" data-loading-text="{% trans 'Saving...' %}">
                                {% trans "Save and add another variant" %}
                            </button>
                        {% endif %}
                        <button class="btn btn-secondary" name="action" type="submit" value="continue" data-loading-text="{% trans 'Saving...' %}">
                            {% trans "Save and continue editing" %}
                        </button>
                        <button class="btn btn-primary" name="action" type="submit" value="save" data-loading-text="{% trans 'Saving...' %}">
                            {% trans "Save" %}
                        </button>
                    </div>
                    {% if product %}
                        <a class="btn btn-success" href="{{ product.get_absolute_url }}">{% trans "View on site" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>
{% endblock dashboard_content %}
